
<div class="container place-page">

    <h1>¡BIENVENIDO {{username}}!</h1>
    <a href="/catalog/add" class="btn btn-info btn-mine">Crear anuncio</a>
    <hr>
    
            <div class="class row">
                <div class="class col-md-8">
                    <h3>Favoritos</h3>
                    {{#each favoriteCars}}
                        {{>favorites this}}
                    {{/each}}
                </div>
               
                <div class="class col-md-4  your-car">
                    <h3>Tus anuncios</h3>
                    {{#each yourCars}}
                        {{>favorites this}}
                    {{/each}}
                </div>
               
            </div>
       
    </div>
</div>

<script src="/javascripts/profile.js"></script>
