
<div class="container catalog-page">

    <h1>¡BIENVENIDO {{username}}!</h1>
    <a href="/catalog/add" class="btn btn-new">Crear anuncio</a>
    <hr>
    
            <div class="class row">
                <div class="class col-md-12 ">
                    <h3>Tus favoritos</h3>
                    <div class="row favorites">
                        {{#each favoriteCars}}
                            {{>favorites this}}
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="class col-md-12  your-car">
                    <h3>Tus anuncios</h3>
                    <div class="row favorites">
                        {{#each yourCars}}
                            {{>favorites this}}
                        {{/each}}
                    </div>
                </div>
            </div>
            
       
    </div>
</div>

<script src="/javascripts/profile.js"></script>
