<div class="container new">
    <div class="row">
        <div class="col-md-6">
            <h1 style="font-weight: 100">Crear anuncio</h1>
        </div>
        <div class="col-md-6">

            <form action="/catalog/add" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name-input">Marca</label>
                    <input name="brand" type="text" class="form-control" id="name-input">
                </div>
                
                <div class="form-group">
                    <label for="name-input">Modelo</label>
                    <input name="model" type="text" class="form-control" id="name-input">
                </div>

                <div class="form-group">
                    <label for="name-input">Precio</label>
                    <input name="price" type="text" class="form-control" id="name-input">
                </div>

                <div class="form-group">
                    <label for="name-input">Año</label>
                    <input name="year" type="text" class="form-control" id="name-input">
                </div>
                
                <div class="form-group">
                    <label for="name-input">Color</label>
                    <input name="color" type="text" class="form-control" id="name-input">
                </div>

                <div class="form-group">
                    <label for="type-list">Tipo de combustible:</label>
                    <select name="fuel" class="form-control">
                        <option>Seleccionar</option>
                        {{#each fuelArray}}
                        <option >{{this}}</option>
                        {{/each}}

                    </select>
                </div>


                <div class="form-group">
                    <label for="type-list">Tipo de vehículo:</label>
                    <select name="type" class="form-control">
                        <option>Seleccionar</option>
                        {{#each typeCarArray}}
                        <option >{{this}}</option>
                        {{/each}}

                    </select>
                </div>

                <div class="form-group">
                    <label for="imageFile">Sube una foto</label>
                    <input type="file" name='imageFile' class="form-control" id="length-input">

                </div>

                <div class="form-group">
                    <label for="photo-input">Descripción</label>
                    <textarea name="description" rows="10" cols="20" class="form-control" id="length-input"></textarea>
                </div>

                <div class="form-group">
                    <label for="name-input">Email de contacto</label>
                    <input name="email" type="text" class="form-control" id="name-input" value="{{email}}"readonly>
                </div>

                <div class="form-group">
                    <label for="photo-input">Latitud</label>
                    <input name="lat" class="form-control" id="length-input">
                </div>

                <div class="form-group">
                    <label for="photo-input">Longitud</label>
                    <input name="lng" class="form-control" id="length-input">
                </div>

                <button type="submit" class="btn btn-info">Crear coche</button>
                <a href="/catalog" class="btn btn-info">Volver</a>
            </form>

        </div>
    </div>
</div>