body {
  font-weight: 200;
}

h1, h2, h3 {
  font-weight: 200;
}

.navbar {
  margin-bottom: 70px;
}

#errorMsg {
  background-color: red;
  color: white;
  font-weight: 400;
  text-align: center;
  padding: 10px 0;
  margin-top: 5px;
}

#myMap {
  width: 300px;
  height: 300px;
}

.logo{
  width: 100px;
  height: 70px;
}

.popino{
  background-image: './images/fondo.jpeg';
}

.your-car #favorite{
  display: none;
}